<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Chapter 5: Data Cleaning

## Airbnb Case Study Discussion

<div class="alert alert-block alert-warning">
In groups of 4, discuss what are the steps you will take to clean the dataset given in <b>airbnb.csv</b>   
    
Groups will be asked to present using the word document at the end of discussion time. 
    
You may use this notebook to test out your code for relevant sections.
</div>

In [2]:
import pandas as pd
import numpy as np

# Load the dataset here
df_airbnb = pd.read_csv("airbnb.csv", encoding='ISO-8859-1')
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19/10/2018,0.21
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21/5/2019,0.38
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,5/7/2019,4.64
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19/11/2018,0.10

Consider the following when cleaning your data.

#### 1) Handling Missing Data
* Are there any missing data in the dataset?
* How might the data collection process have contributed to these missing values?
* What are the suggested ways to impute the missing data?
* What are the implications of different imputation methods on our subsequent analysis?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here

#### 2) Removing Duplicates
* Are there any duplicates in the dataset?
* How would you define an approximate duplicate in this context?
* What methods could you use to identify and handle approximate duplicates?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here

#### 3) Data Formatting & Consistency
* Are there any formatting issues? 
* What data formatting techniques can you apply on the dataset?
* How might these formatting issues impact your analysis?
* How can you ensure consistent formatting across all string columns in a dataset?
* Are there any inconsistent data in the dataset? How can you check them?
* How would you handle these inconsistencies?

<div class="alert alert-block alert-info">

Double click here and type your explanations here. 
    Yes.
    Change all the dates and check for invalid dates.
    
    
</div>

In [28]:
#enter your code here
# df_airbnb["minimum_nights"][df_airbnb["minimum_nights"]<0]
# # 29780   -1
# # Name: minimum_nights, dtype: int64
# # -1 LMAO
# df_airbnb=df_airbnb.drop(29780)
# df_airbnb.drop(df_airbnb["minimum_nights"][df_airbnb["minimum_nights"]>100],inplace=True)
# df_airbnb["number_of_reviews"][df_airbnb["number_of_reviews"]<0]

Series([], Name: number_of_reviews, dtype: int64)

In [13]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48897 entries, 0 to 48896
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   48897 non-null  int64
 1   name                 48881 non-null  string
 2   host_id              48897 non-null  int64
 3   host_name            48876 non-null  object
 4   neighbourhood_group  48897 non-null  object
 5   neighbourhood        48897 non-null  object
 6   latitude             48897 non-null  float64
 7   longitude            48897 non-null  float64
 8   room_type            48897 non-null  object
 9   price                48897 non-null  int64
 10  minimum_nights       48897 non-null  int64
 11  number_of_reviews    48897 non-null  int64
 12  last_review          38845 non-null  object
 13  reviews_per_month    38845 non-null  float64
dtypes: float64(3), int64(5), object(5), string(1)
memory usage: 5.2+ MB

#### 4) Data Binning
* Which column data may be suitable to apply binning?
* Why might we want to bin the selected column into categories? How does this affect our analysis?
* What are the advantages and disadvantages of using quantiles for binning?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here